{% extends 'base.html' %}
{% block content %}

    <div class="profile">
        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    <!-- Profile Image -->
                    <img src="{{ user.profile_picture }}" alt="img8">
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    <p>{{ user.first_name }} {{ user.last_name }}</p>

                    <!-- Link to Edit Profile Page -->
                    <a href="{% url 'profile-edit' user.pk %}"> Edit Profile</a>

                    <!-- Link to Delete Profile Page -->
                    <a href="{% url 'profile-delete' user.pk %}"> Delete Profile</a>


                </div>
                <div class="data">
                    <a href="{% url 'my-houses-page' user.pk %}"> My Houses</a>
                        <a href="{% url 'my-projects-page' user.pk %}"> My Projects </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
