{% extends 'base.html' %}
{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form.username.errors }}
        {{ form.username.label }}
        {{ form.username }}
        {{ form.email.errors }}
        {{ form.email.label }}
        {{ form.email }}
        {{ form.password1.errors }}
        {{ form.password1.label }}
        {{ form.password1 }}
        {{ form.password2.errors }}
        {{ form.password2.label }}
        {{ form.password2 }}

        <button type="submit">Submit</button>
    </form>
        <div class="second-option">

            <!-- Link to Register Page-->
            <p>You have an account? <a href="{% url 'login' %}">Sign In</a></p>
        </div>
{% endblock %}
