{% extends 'base.html' %}
{% block content %}
    <div class="container text-center">
    <div class="row">
    <div class="col">
    <h1 class="card-title"><b>Project Details</b></h1>

    <div class="image"><img src="{{ project.building_type_photo }}" alt="img8"></div>
    <h5 class="card-title">Project Type: <b>{{ project.project_type }}</b></h5>
    <p class="card-text">Description: {{ project.description }}</p>
    {% if owner == request.user %}
        <a href="{% url 'edit-project-page' project.slug %}" class="btn btn-info">Edit Project</a>
        <a href="{% url 'delete-project-page' project.slug %}" class="btn btn-info">Delete Project</a>
    {% endif %}


{% endblock %}
