{% extends 'base.html' %}
{% block content %}

    <div class="container text-center">
        <div class="row">
        <h1 class="card-title"><b>Houses</b></h1>
            {% for house in object_list %}
                <div class="col">
                    <div class="card" style="background-color: aquamarine">
                        <img src="{{ house.house_photo }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><b>Street</b> <b>{{ house.street }}</b>, <b>{{ house.house_location }}</b></h5>
                            <h5 class="card-title">Area: {{ house.zone_name }}</h5>
                            <p class="card-text">{{ house.description }}</p>
                            <a href="{% url 'house-details' house.slug %}" class="btn btn-primary">House Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
