{% extends 'base.html' %}
{% block content %}

    <div class="container text-center">
        <div class="row">My Houses
            {% for house in all_houses %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ house.house_photo }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Street {{ house.street }}, {{ house.house_location }}</h5>
                            <p class="card-text">{{ house.description }}</p>
                            <a href="{% url 'house-details' house.slug %}" class="btn btn-primary">House Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
